# ─── Web ────────────────────────────────────────────────────────────
Web/node_modules/
Web/dist/
Web/**/*.local

# ─── macOS ──────────────────────────────────────────────────────────
.DS_Store
.AppleDouble
.LSOverride

# ─── Windows ────────────────────────────────────────────────────────
Thumbs.db
Desktop.ini
*.lnk

# ─── VS Code ────────────────────────────────────────────────────────
.vscode/
*.swp
